<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<!--http://stackoverflow.com/a/24070373/548473-->
<link rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">
<script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js" async></script>
<script type="text/javascript" src="webjars/jquery/3.3.1-1/jquery.min.js" async></script>
<script type="text/javascript" src="resources/sending.js" async></script>
<body>
<section>
    <div class="jumbotron pt-4">
        <div class="container">
            <table border="1" cellpadding="8" cellspacing="0" class="form-group col-md-6">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Flag</th>
                    <th>Choose</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="users" type="java.util.List<ru.javaops.masterjava.persist.model.User>"*/-->
                <tr th:each="user,iter: ${users}">
                    <td th:text="${iter.count}"></td>
                    <td th:text="${user.fullName}"></td>
                    <td th:utext="${user.email}"></td>
                    <td th:text="${user.flag}"></td>
                    <td>
                        <label>
                            <input type="checkbox" th:value="|${user.fullName} <${user.email}>|"/>
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <form>
                <div class="form-group col-md-6">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Subject" required>
                    <input type="file" class="form-control-file mt-3" name="attachment" id="attachment" multiple>
                </div>

                <div class="form-group col-md-6">
                    <label for="body">Body</label>
                    <textarea class="form-control" id="body" rows="3" required></textarea>
                    <button type="button" class="btn btn-outline-secondary col-12 mt-3" onclick="send()">Send</button>
                </div>
            </form>
        </div>
    </div>
    <pre id="result"></pre>
</section>
</body>
</html>