<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<!--https://code.jquery.com/-->
<!--http://stackoverflow.com/a/24070373/548473-->
<link rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">
<script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js" async></script>
<script type="text/javascript" src="webjars/jquery/3.3.1-1/jquery.min.js" async></script>
<script type="text/javascript" src="resources/sending.js" async></script>

<body>
<section class="ml-3">
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Flag</th>
            <th/>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="users" type="java.util.List<ru.javaops.masterjava.persist.model.User>"*/-->
        <tr th:each="user,iter: ${users}">
            <td th:text="${iter.count}"></td>
            <td th:text="${user.fullName}"></td>
            <td th:utext="${user.email}"></td>
            <td th:text="${user.flag}"></td>
            <td><input type="checkbox" th:value="|${user.fullName} <${user.email}>|"/></td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <p>
        <input id="subject" placeholder="subject" size="30">
    </p>
    <p>
        <textarea id="body" placeholder="mail body" cols=75 rows=5></textarea><br/>
    </p>
    <p>
        <input id="attach" type="file" multiple>
    </p>
    <p>
        <input type="radio" name="transport" onchange="setTransport('SOAP');" checked>SOAP<br>
        <input type="radio" name="transport" onchange="setTransport('REST');">REST<br>
        <input type="radio" name="transport" onchange="setTransport('JMS');">JMS<br>
    </p>
    <p>
        <button type="button" onclick="send()">Send</button>
    </p>
    <pre id="result"></pre>
</section>
</body>
</html>